.selected-card {
  margin-top: 20px;
}

.selected-image {
  width: 200px;
  padding: 10px;
}

.selected-card.ui.card {
  text-align: center;
  margin: auto;
  background:rgba(255, 255, 255, 0.5);
  border: none;
  box-shadow: none;
  margin-bottom: 6%;
}

.poke-name {
    text-transform: capitalize;
}

.error-card {
    margin-top: 20px;
}

.error-desc {
    margin-top: 10px;
}