.header {
  text-align: center;
}

.poke-card.ui.card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: none;
}

.poke-card-container.image {
  display: flex;
  justify-content: center;
}

.poke-card-image {
  margin: auto;
  padding: 10px;
}

.poke-card.ui.card:hover {
  background: rgba(255, 255, 255, 0.5);
  top: -5px;
}

.header {
    text-transform: capitalize;
}