.search-container {
  margin: auto;
  margin-top: 50px;
}

.search-bar {
  width: auto;
  height: 50px;
  margin: auto;
  text-align: center;
}

.search-bar.ui.input {
  font-size: 1.5rem;
}

form {
    margin: auto;
}