.poke-header.ui.fixed.menu {
  font-size: 1.5rem;
  border: none;
  box-shadow: none;
  background: rgba(255, 255, 255, 0.5);
}

.header-image-container {
  margin-top: 10px;
  margin-left: 16px;
}

.header-image {
  width: 120px;
}
