.search.ui.container {
    padding-top: 100px;
}

.search-bar.ui.container {
  margin: auto;
  margin-left: 16px;
}

.search-bar {
  width: 100%;
  height: 50px;
  margin: auto;
  text-align: center;
}

.search-bar.ui.input {
  font-size: 1.5rem;
}

form {
    margin: auto;
}

.search-header {
    padding-bottom: 25px;
}