.search.ui.container {
    padding-top: 100px;
    text-align: center;
}

.search-bar.ui.container {
  margin: auto;
  margin-left: 16px;
}

.search-bar {
  width: 100%;
  height: 50px;
}

.search-bar.ui.input {
  font-size: 1.5rem;
}

.search-header {
    padding-bottom: 25px;
}

.search-image-container {
    text-align: center;
}

.search-image {
    max-width: 500px;
}