.browse.ui.container {
  padding-top: 100px;
  text-align: center;
}

.pagination {
  font-size: 1.2rem;
  justify-content: center;
  padding-bottom: 60px;
}

.pagination li a {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  font-size: 1.5rem;
  color: black;
}

.browse-image-container {
  text-align: center;
}

.browse-image {
  max-width: 500px;
}

.browse-load-btn.ui.button {
  margin-top: 20px;
  margin-bottom: 5%;
}

.cardlist-segment.ui.segment {
  background: rgba(255, 255, 255, 0);
  border: none;
  box-shadow: none;
}